<div class="container resume_page">
  <div class="jumbotron">
    <h1>Daniel's Resume</h1>

    <div id="page_resume">
      <div id="resume_left">
        <div id="image_contents" >
          <img id="profile_img" src="images/my-image.jpg" border="1" width="120" height="160" ><br>
        </div>
        <h2>Profile</h2>
        <div id="profile" class="profile_form">
          <div id="profile_text" class="resume_text_form">
            aaaa
          </div>
        </div>
      </div>

      <div id="resume_right">
        <h2>Skills</h2>
        <div id="skills" class="resume_form">
          <div id="skills_text" class="resume_text_form">
            bbbb
          </div>
        </div>
        <h2>Professional Experience</h2>
        <div id="experience" class="resume_form">
          <div id="experience_text" class="resume_text_form">
            cccc
          </div>
        </div>
        <h2>Employment History</h2>
        <div id="history" class="resume_form">
          <div id="history_text" class="resume_text_form">
            dddd
          </div>
        </div>
        <h2>Education</h2>
        <div id="education" class="resume_form">
          <div id="education_text" class="resume_text_form">
            eeee
          </div>
        </div>
      </div>
    </div>
  </div>
</div>